<!DOCTYPE html>
<html lang="en">

<head>
      {{>headerlinks}}



</head>

<body>
   {{>navbar}}
    <!-- Main Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--  left Side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="img/about.png" alt="gaurav" class="img-fluid" title="code gaurav">
                        </figure>

                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p> Welcome to weather app </p>
                        <h1> I am a <span class="text_clr"> Front-end and Backend  </span> Developer </h1>
                        <a href="https://github.com/singhgaurav070799" target="_gaurav"><button> About Me </button> </a>

                    </div>

                    <!-- right side div -->
                  

                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- footer code  -->
   {{>footer}}

</body>

</html>